@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/manrope-v15-latin-regular.woff2') format('woff2');
  }
@font-face {
  font-display: swap; 
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/manrope-v15-latin-500.woff2') format('woff2'); 
}
  @font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/manrope-v15-latin-600.woff2') format('woff2');
  }
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Manrope', sans-serif;
  }

  .containers {
    max-width: 1170px;
    margin: 0 auto;
  }

  header {
    background-image: url(../images/CyberTruck-image.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  #tesla-outside {
    background-image: url(../images/back-icon-image.png);
    background-repeat: no-repeat;
    background-position: right;
  }